@page "/grid"
@using Piet.Grid
@using Piet.Color

<PageTitle>Piet</PageTitle>

<h3>Piet</h3>

<p>
    <label>
        Height
        <input type="number" @bind="_height"/>
    </label>
</p>

<p>
    <label>
        Width 
        <input type="number" @bind="_width"/>
    </label>
</p>

<p>
    <button class="btn btn-primary" @onclick="ResizeGrid">Resize Grid</button>

    <button class="btn btn-primary" @onclick="Reset">Reset</button>

    <button class="btn btn-primary" @onclick="Run">Run</button>
</p>


<table>
    <tbody>
        @*@foreach (var row in GridData)*@
        @for (var i = 0; i < _gridData.Height; i++)
        {
            <tr>
            @*@foreach (var value in row)*@
            @for (var j = 0; j < _gridData.Width; j++)
            {
                int i_local = i;
                int j_local = j;
                var value = _gridData.GetCell(i, j);

                <td style='height: 30px; max-height: 30px; width: 30px; max-width:30px; border: 1px solid black; background-color: rgb(@value.R, @value.G, @value.B)' @onclick="@(e => UpdateColor(i_local, j_local))"></td>
            }
            </tr>
    }
    </tbody>
</table>

@code {

    @*inspiration from: https://gabriellesc.github.io/piet/index.html*@

    private static int _height = 15; 
    private static int _width = 25;
    private static PietDataGrid _gridData = new (_height, _width);

    private void UpdateColor(int i, int j)
    {
        System.Console.WriteLine($"i: {i} j: {j}");
        _gridData.SetRandomCellColor(i, j);
    }

    private void Reset()
    {
        _gridData.SetUniqueGridColor(new PietColor(PietColorNames.White));
    }

    private void ResizeGrid()
    {
        _gridData = new PietDataGrid(_height, _width);
    }

    private void Run()
    {
        System.Console.WriteLine("Run");
    }

}

