@inherits LayoutComponentBase

<div class="page">
    <main>
        <center>

            <article class="content px-4">
                @Body
            </article>
        </center>
    </main>
</div>
