@using System.ComponentModel.DataAnnotations

<div class="simple-form">
    <EditForm Model="_form" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="message"></label>
            <InputNumber @bind-Value="_form.Message" class="form-control" placeholder="Enter a number"/>
            <ValidationMessage For="@(() => _form.Message)"/>
            <p></p>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
    </EditForm>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    readonly Form _form = new();

    protected override void OnInitialized() => BlazoredModal.SetTitle("Input (numeric)");

    async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok(_form.Message));
    async Task Cancel() => await BlazoredModal.CancelAsync();

    public class Form
    {
        [Required(ErrorMessage = "Please enter an integer.")]
        public int? Message { get; set; }
    }
}